{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4" style="color: #fff; font-weight: 800; font-size: xx-large;">Change Your Password</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <p class="text-center text-muted mb-4">
                        To change your password, enter your old password and the new password twice.
                    </p>
                    
                    <!-- Error Messages -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form.old_password.label_tag }}
                        <div class="mb-3">
                            {{ form.old_password }}
                        </div>
                        
                        {{ form.new_password1.label_tag }}
                        <div class="mb-3">
                            {{ form.new_password1 }}
                        </div>

                        {{ form.new_password2.label_tag }}
                        <div class="mb-4">
                            {{ form.new_password2 }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Change Password</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'profile' %}" class="btn btn-outline-success w-100 py-2 mb-2">Back to Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
